html(lang='en')
    head
        title #{pageTitle}
    body 
        h1 Welcome to simple Express Application with Pug - node template engine 
        p Add your name and favorite number devided by '/' into the URL
        img(src='pug.png' alt="pug" style="height: 200px")